@tailwind base;
@tailwind components;
@tailwind utilities;

/* Qui puoi inserire stili globali aggiuntivi, ad esempio: */

/* Body di default */
body {
  @apply bg-gray-50 text-gray-800 antialiased;
}

/* Reset margini */
* {
  @apply m-0 p-0 box-border;
}
.logo-header {
  width: 400px !important;
  height: 150px !important;
  object-fit: contain !important;
}

.logo-footer {
  width: 400px !important;
  height: 150px !important;
  object-fit: contain !important;
  filter: brightness(0) invert(1); /* Inverte i colori per renderlo bianco su sfondo scuro */
}